## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio / Rider
.vs/
.idea/
*.rsuser
launchSettings.json

## ai
.claude

## OS
Thumbs.db
desktop.ini
.DS_Store

## Docker
docker-compose.override.yml

## Secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json
*.pfx
*.p12
